body {
background-color: #FFFFF3;
padding-top: 50px;
}

h1 {
  margin-top: 0px;
}


 h2 {
  font-family: 'QuaverSerif';
  letter-spacing: 2px;
  font-size: 24px;
}

h3 {
  font-family: 'QuaverSans';
  text-align: center;
}

p {
  font-family: 'QuaverSerif';
  font-size: 16px;
}

.navbar {
  background-color:#D46D6A;
  font-family: 'missiongothic';
  margin-bottom: 0px;
}

.hero-unit a:hover {
  background-color:white;
}

.navbar-default .navbar-nav li a {
  font-family: 'QuaverSans';
  color: #FFFFF3;
  font-size: 22px;
  text-decoration: none;
  padding: 5px 10px 0px 10px;
}

.navbar-brand {
  font-size: 24px;
  font-style: italic;
  display: inline-block;
  font-family: 'MissionGothicBlack';
  color: #FFFFF3 !important;

}

.popup {
  border: 3px solid red;
  background-color: #D46D6A;
  width: 50%;
  height: 80%;
  max-height: 80%;
  top: 10%;
  left: 25%;
  position: fixed;
  overflow-y: scroll;
}

.close {
  /*margin-top: 80%;*/
  /*margin-left: 80%;*/
}

.hero-unit {
  background-image: url('../berries.jpg');
  height: 700px;
  text-align: center;
}

.hero-unit h1 {
  /*font-family: 'QuaverSans';*/
  font-family: 'Cylburn';
  letter-spacing: 2px;
  /*font-weight: bold;*/
  color: #FFFFF3;

  color: #D46D6A;
  font-size: 312px;
}

.hero-unit h2 {
  color: #FFFFF3;
  font-size: 48px;
}

.card {
  background-color: #D46D6A;
  border: 10px solid #FFFFF3;
  border-radius: 13px;
}



.img-responsive {
  margin: auto;
  width: 80%;
  max-height: 180px;
  padding: 5% 10% 5% 10%;
}

.splash-featurette{
  padding-top:40px;
  padding-bottom:40px;
  font-size:16px;
  line-height:1.5;
  color:#555;
  text-align:center;
}


.login {
  border: none;
  background-color: #D46D6A;
  width: 20%;
  height: 400px;
  max-height: 40%;
  top: 40%;
  left: 40%;
  position: absolute;
}
.box {
  margin: auto;
}

@font-family{
  url: (../Muncie_Personal_License/Muncie.ttf);
  url: (../QuaverSansSerif_Personal_License/QuaverSans.otf);
  url: (../QuaverSansSerif_Personal_License/QuaverSerif.otf);
  url: (../Cylburn_Personal_License/Cylburn.ttf);
  url: (../MissionGothic_Personal_License/MissionGothicBlack.otf);
}
