body {
background-color: #FFFFF3;
}

h1 {
  margin-top: 0px;
}
/*.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
/*}*/

nav {
  background-color: red;
  display: -webkit-box;
}

nav li {
  display: inline-block;
}


nav a {
  color: black;
  text-decoration: none;
  padding: 5px 10px 0px 10px;
}

nav ul {
  margin-left: 500px;
}

#welcome {
  width: 300px;
}

.popup {
  border: 3px solid red;
  background-color: #D46D6A;
  width: 50%;
  height: 80%;
  max-height: 80%;
  top: 10%;
  left: 25%;
  position: fixed;
  overflow-y: scroll;
}

.close {
  /*margin-top: 80%;*/
  /*margin-left: 80%;*/
}

.hero-unit {
  background-image: url('../berries.jpg');
  height: 500px;
  text-align: center;
}

.hero-unit h1 {
  font-family: 'QuaverSans';
  letter-spacing: 2px;
  font-weight: bold;
  color: #428bca;
  font-size: 96px;
}

 h2 {
  font-family: 'QuaverSerif';
  letter-spacing: 2px;
  font-size: 24px;
}

.hero-unit h2 {
  font-weight: bold;
  color: #428bca;
  font-size: 32px;
}

.card {
  background-color: #D46D6A;
  border: 10px solid #FFFFF3;
  border-radius: 13px;
}

h3 {
  font-family: 'QuaverSans';
  text-align: center;
}

p {
  font-family: 'QuaverSerif';
  font-size: 16px;
}

.img-responsive {
  margin: auto;
  width: 80%;
  max-height: 180px;
  padding: 5% 10% 5% 10%;
}

.splash-featurette{
  padding-top:40px;
  padding-bottom:40px;
  font-size:16px;
  line-height:1.5;
  color:#555;
  text-align:center;
}


.login {
  border: none;
  background-color: #D46D6A;
  width: 30%;
  height: 80%;
  max-height: 80%;
  top: 10%;
  left: 35%;
  position: absolute; 
}
.box {
  margin: auto;
}

@font-family{
  url: (../Muncie_Personal_License/Muncie.ttf);
  url: (../QuaverSansSerif_Personal_License/QuaverSans.otf);
  url: (../Muncie_Personal_License/QuaverSerif.otf);
}
