<div class="hero-unit">
  <br>
  <br>
  <br>
  <h1>Sangria Sunday</h1>
  <h2>Fighting the Scardies Since 2011</h2>
</div>

<div class="container">
<div class='row'>
<div class="col-md-4"><h3>Friends</h3><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

Lorem ipsum</p></div>
<div class="col-md-4"><h3>Food</h3><p>Contrary to popular belief, Lorem Ipsum is not simply randoaking it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked uprem ipsum dolor sit amet..", comes from a line in section 1.10.32.

Lorem ipsum</p></div>
<div class="col-md-4"><h3>'Gria</h3><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin liteular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

Lorem ipsum</p></div>

</div>
</div>



  <%= erb :_login %>
  <a href="/auth">Connect With Google</a>
