<div class="hero-unit">
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>

<div class="container">
  <h1>Sangria Sunday</h1>
  <h2>Fighting the Scardies Since 2011</h2>

  <%= erb :_login %>
  <a href="/auth">Connect With Google</a>
</div>
