<form action="/signup" method="post">
  <p>Username</p><input name="args[username]">
  <p>Email</p><input type ="email" name="args[email]">
  <p>Password</p><input type="password" name="args[password]">
  <p></p><input type="submit" value="create!">
</form>
